body {
    background-image: url("RNM!.jpg");
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 5s;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px
}
h3 {
    color: white;
}

.grid-container {   
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    background-color: black;
    animation-name:fadeIn;
    animation-duration: 5s;

}

.PD {
    height: 50px;
    border: 3px solid;
    padding-inline: 1px;
}

.education {
    height: 50px;
    border: 3px solid;
    padding-inline: 1px;
}

.Repertoar {
    height: 50px;
    border: 3px solid;
    padding-inline: 1px;
}

.specialties {
    height: 50px;
    border: 3px solid;
    padding-inline: 1px;
}


.PD:hover {
    background-color: grey;
}

.education:hover {
    background-color: grey;
}

.Repertoar:hover {
    background-color: grey;
}

.specialties:hover {
    background-color: grey;
}

.contact {
    color: blue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
    padding-inline: 10px;
}

input {
    border: 1px solid;
    padding: 2px;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
}

textarea {
    border: 1px solid;
    padding: 2px;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
}

fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
